<!DOCTYPE html>
<html lang="pt-br">
<head>
 
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 
 <title>Matérias Vereadores - Câmara Municipal de Sorocaba</title>
 
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!-- Option 1: Bootstrap Bundle with Popper -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->

</head>
<body>

<!-- wrapper start -->
<div class="wrapper">
  <!-- sticky header start -->
  <!-- header start -->
  <div id="banner" class="sticky-header owl-carousel owl-theme">

   <div class="box item">
     <a href="/" target="_parent">
       <img class="img-responsive" width="2039" height="376" src="http://161.148.150.207:8085/sitecamara/banners/e1c63928-9976-4878-80dd-4881fadf646c.jpg" alt=""/>
     </a>

  </div>
</div>
<br></br>

<div class="col-sm-10 col-xs-16 f-nav wow fadeInDown animated" data-wow-delay="0.5s" data-wow-offset="10">
   <ul class="list-inline ">
     <li><h2><a href="/">Projeto Integrador I - UNIVESP - {{ teste }}</a></h2></li>
   </ul>
</div>

 <div class="btn-group" role="group" aria-label="Basic mixed styles example">
   <button type="button" class="btn btn-danger">Vereadores</button>
   <button type="button" class="btn btn-warning">Contato</button>
   <button type="button" class="btn btn-success">Matérias</button>
 </div>
</div class="container">
  <table border =2>
    <tbody>
      {% for  i in vereador %}
          <tr>
              <td>{{ i.IdVereador }}</td>
              <td>{{ i.NomeVereador }}</td>
              <td>{{ i.SobreNome }}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- header end -->
<br></br>
<!-- Footer start -->
<footer>
   <!--
  <div class="btm-sec">
    <div class="container">
      <div class="row">
        <div class="col-sm-16">
          <div class="row">
            <div class="col-sm-10 col-xs-16 f-nav wow fadeInDown animated" data-wow-delay="0.5s" data-wow-offset="10">
              <ul class="list-inline ">
                <li><h2><a href="/">Projeto Integrador I - UNIVESP</a></h2></li></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
-->
</footer>
<!-- Footer end -->
</body>
</html>
